@font-face {
    font-family: 'FiveFontsatFreddysRegular';
    src: url('FiveFontsatFreddysRegular.woff2') format('woff2'),
        url('FiveFontsatFreddysRegular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

